dataset/localCopy/*
stemmers/*

idea*
*.csv
*.tsv
**/*.ipynb_checkpoints/


#word embedding
**/full_uni_*.mdl*
**/full_uni_*.zip

submission/
*.zip
backup/

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover