{%extends 'base.html' %} {% block head%}
<title>Sentiment Analysis</title>
{%endblock%} {% block body%}
<div class="content">
    <div class="content-frame">
        <h1 class="form-title">Enter Text Sentiment Prediction</h1>

        <div class="form">
            <form action="/" method="post">
                <label>Enter text to predict its sentiment:</label><br/>
                <input type="text" name="text" id="text" class="form-field" /><br/>
                <input type="submit" name="predict" class="submit-btn" value="identify sentiment" />
            </form>
        </div>
    </div>
</div>
{%endblock%}